<app-dialog [onClose]="cancel" [title]="title" [windowClassName]="'cui-col-xs32-10 cui-col-xs48-8 cui-col-xs64-6 cui-col-sm-4 cui-col-slg-2'">

  <div class="errorMessage">
    {{errorMessage}}
  </div>
  <div class="cui-field">
    <input type="password" [(ngModel)]="form.password" required>
    <label>舊密碼</label>
  </div>
  <div class="cui-field">
    <input type="password" [(ngModel)]="form.newPassword" required>
    <label>新密碼</label>
    <div class="message">密碼長度不可低於8碼</div>
  </div>
  <div class="cui-field">
    <input type="password" [(ngModel)]="form.confirmPassword" required>
    <label>確認密碼</label>
    <div class="message">再次輸入密碼，必須與新密碼相同</div>
  </div>
  <div class="cui-button-row right">
    <button class="cui-button" (click)="save()">提交</button>
  </div>
</app-dialog>
