<app-shrink [isOpen]="true">
  <app-quick-date-picker [startTime]="startTime" [endTime]="endTime"></app-quick-date-picker>
  <div class="cui-row">
    <div class="cui-field cui-col-xs32-6 cui-col-xs64-4 cui-col-md-3" appDatePicker>
      <input type="text" [(ngModel)]="searchForm.startTime" #startTime>
      <label>開始時間</label>
    </div>
    <div class="cui-field cui-col-xs32-6 cui-col-xs64-4 cui-col-md-3" appDatePicker>
      <input type="text" [(ngModel)]="searchForm.endTime" #endTime>
      <label>結束時間</label>
    </div>
    <div class="cui-field cui-col-xs32-6 cui-col-xs64-4 cui-col-md-3">
      <input type="text" [(ngModel)]="searchForm.service">
      <label>服務</label>
      <div class="message">模糊查詢:%word%</div>
    </div>
    <div class="cui-field cui-col-xs32-6 cui-col-xs64-4 cui-col-md-3">
      <input type="text" [(ngModel)]="searchForm.message">
      <label>錯誤訊息</label>
      <div class="message">模糊查詢:%word%</div>
    </div>
    <div class="cui-field cui-col-xs32-6 cui-col-xs64-4 cui-col-md-3">
      <input type="text" [(ngModel)]="searchForm.content">
      <label>Stack Trace</label>
      <div class="message">模糊查詢:%word%</div>
    </div>
  </div>
  <div class="cui-button-row center">
    <button class="cui-button {{ApiClassName.GetExceptionLogPage}}" (click)="search()">查詢</button>
    <button class="cui-button bg-accent" (click)="clean()">清除</button>
    <button class="cui-button {{ApiClassName.DeleteExceptionLog}}" (click)="remove()">刪除</button>
  </div>
</app-shrink>
<div class="view-content" [appInitElement]="grid.getElement()"></div>