<app-dialog [onClose]="cancel" [title]="title"
  [windowClassName]="'cui-col-xs32-10 cui-col-xs48-8 cui-col-xs64-6 cui-col-sm-4 cui-col-slg-2'">
  <div class="cui-field" *ngIf="state==BasicState.Update">
    <input type="text" [(ngModel)]="form.id" readonly>
    <label>ID</label>
  </div>
  <div class="cui-field">
    <input type="text" [(ngModel)]="form.name" required>
    <label>名稱</label>
  </div>
  <div class="cui-field">
    <input type="number" [(ngModel)]="form.level" required>
    <label>等級</label>
    <div class="message">數字越大，權限越小</div>
  </div>
  <div class="cui-button-row right">
    <button class="cui-button" (click)="save()">提交</button>
  </div>
</app-dialog>
